.aside{
  display: flex;
  
  padding: 5rem 5rem 0.5rem 5rem;
  
  .funnel{
    font-size: 2.5rem;
  }
  .TextFunnel{
    padding: 0 1rem;
  }
  
}
.textTwo{
  padding: 0rem 5rem ;
}
.form{
  padding: 0.5rem 5rem;
}